/* =================================
  			Basic Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
}

img {
  width: 450px;
  max-width: 100%;
  max-height: 450px;
}

/*body,
header,
h1,
h2,
nav,
ul,
li,
section,
img,
p,
footer {
  border: 1px solid red;
}*/

/* =================================
  			Main Styles
==================================== */

.main-header {
  background-color: #F8F8FF;
  padding: 10px;
  border-radius: 5px;
}

.main-footer {
  background-color: #F8F8FF;
  padding: 10px;
  border-radius: 5px;
}

.my-name {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
}

.main-nav {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  margin-right: 20px;
}

.main-nav li {
  padding: 10px;
}

.main-nav a {
  text-align: center;
  display: block;
  text-decoration: none;
}

.main-nav a:hover {
  color: #DCDCDC;
}

/*.main-image {
  max-width: 100%;
  display: flex;
  min-height: 200px;
}*/

.my-image {
  border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
  padding: 10px;
  margin-top: 12px;
}

.main-headings {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #2F4F4F;
}

#portfolio {
  font-weight: 700;
  text-align: center;
  color: #191970;
}

.main-portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 20px auto;
  transition-duration: .5s;
}

.card img {
  width: 100%;
}
.main-para {
  text-align: center;
  color: #A9A9A9;
  padding: 10px;
}

.main-contact {
  font-weight: 700;
  text-align: center;
  color: #191970;
}

.main-info {
  font-weight: 700;
  text-align: left;
  list-style: none;
  color: #191970;
}

.main-info a {
  text-decoration: none;
  color: #A9A9A9;
}

.main-info a:hover {
  color: #DCDCDC;
}

.sub-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-footer a {
  text-decoration: none;
}

.sub-footer a:hover {
  color: #DCDCDC;
}

.main-nav-bottom {
  display: none;
}


/* =================================
  			Media Queries
==================================== */


@media (min-width: 768px) {
    .main-header,
    .main-nav,
    .main-image,
    .main-portfolio,
    .main-container,
    .main-footer {
      display: flex;
    }
    .main-header {
      flex-direction: column;
      align-items: center;
    }

    .main-image {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
    }

    .main-container {
      flex-flow: row wrap;
      justify-content: center;
      flex-grow: 2;
    }

    .card {
      flex-basis: 45%;
    }

    .main-footer {
      flex-flow: column wrap;
      align-items: center;
    }

    .mobile-only {
      display: none;
    }

    .main-nav-bottom {
      display: flex;
      /*text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px;*/
    }
  }





@media (min-width: 1024px) {
  .main-header{
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    flex-basis: 30%;
  }
}
