/* =================================
  			Basic Styles
==================================== */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Work Sans', sans-serif;
  color: #D3D3D3;
}
